body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}
header h1 {
    margin: 0.5em 0;
    font-size: 2.5em;
}
header p.subtitle {
    margin: 0.5em 0;
    font-size: 1.2em;
    font-style: italic;
}
main {
    padding: 2em;
    margin: auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.mentors, .group-links {
    padding: 1.5em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
h2 {
    margin-top: 0;
    color: #333;
}
.mentor-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mentor {
    width: 45%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.mentor h3 {
    margin-top: 0;
}
.group-link a {
    display: inline-block;
    margin-top: 1em;
    padding: 0.8em 1.2em;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}
.group-link a:hover {
    background-color: #45a049;
}

/* Popup Form Styling */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    padding: 2em;
    background: white;
    border: 2px solid #4CAF50;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-popup h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: center;
}

.form-popup select, .form-popup button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-popup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-popup button:hover {
    background-color: #45a049;
}

/* Overlay Styling */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Lower than the form popup to ensure form popup is above it */
}
